<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let item of newsList">
    <ion-card >
      <img 
      [src]="item.urlToImage" 
      alt=""
      />
      <ion-card-header>
        <ion-card-subtitle>{{item.author}}</ion-card-subtitle>
        <ion-card-header id="titulo">{{item.title}}</ion-card-header>
        
        
        
      </ion-card-header>
      <ion-card-content>{{item.description}}
         <br>
         <div class="trash">
          <ion-icon name="trash-outline" (click)="romoveItem(item)" ></ion-icon>
         </div>
         
      </ion-card-content>
      
  
  
    </ion-card>
  </div>
  

</ion-content>
