#titulo{
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-style:oblique;
    font-size: 30px;
    font-weight: bolder;
}
ion-card-subtitle{
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-size: large;
}
ion-card-content{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}